body {
	background: #F0F0F0 url("../img/bg.png");
}
.ui-entry {
	background-color: #FFFFFF;
	border: solid 1px gray;
	/*border-radius: 10px;*/
	padding: .5em;
	margin: .5em 0;
}
.ui-action .complete {
	text-decoration: line-through;
	color: #CCCCCC;
}
.ui-action .ui-context {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	padding: 0.4em;
	font-size: 0.75em;
	line-height: 1em;
	vertical-align: middle;
	white-space: nowrap;
}