<div id="entryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="entryModalHeader" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
		<h3 id="entryModalHeader"><%= text %></h3>
	</div>
	<div class="modal-body">
		<ul id="entry-operations" class="unstyled pull-right">
			<li><i class="icon-trash"></i> Delete</li>
		</ul>
		
		<h4>Actions</h4>
		<form id="action-form" class="input-append">
			<input id="action-input" type="text" placeholder="Add Action"/>
			<button id="action-add" type="submit" class="btn">Add</button>
		</form>
		<ul id="entry-actions" class="unstyled">
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>